<section ng-controller="TestController"  class="row test">
	<section class="row interface">
		<div class="col-md-5 col-md-offset-1" ng-include="'module.test/views/interface.createbank.test.client.view.html'"></div>
		<div class="col-md-5 col-md-offset-1" ng-include="'module.test/views/interface.search.test.client.view.html'"></div>
	</section>

	<section class="row">
		<div class="col-md-5 col-md-offset-1" ng-include="'module.test/views/table.test.client.view.html'"></div>
		<div class="col-md-5 col-md-offset-1" ng-include="'module.test/views/list.test.client.view.html'"></div>
	</section>
</section>